.product-detail {
  position: relative;
  margin: 4rem 0;
  .icon {
    position: absolute;
    top: 0;
    img {
      width: 2rem;
    }
  }
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    .product-image {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
    .product-options {
      margin-top: 4rem;
      .title h2 {
        font-weight: 500;
        margin-bottom: 2rem;
      }
      .options {
        .option-title {
          font-size: 1rem;
          margin: 1rem 0;
        }
      }
      .price {
        margin-top: 5rem;
        font-size: 3rem;
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .product-detail {
    height: 70vh;
    .icon {
      left: 50%;
    }
    .container {
      padding: 0 8rem;
      flex-direction: row;
      justify-content: center;
      gap: 5rem;
      .product-image {
        height: auto;
        max-height: 45rem;
        width: 40%;
        overflow: hidden;
        img {
          height: 600px;
          width: 500px;
          object-fit: cover;
          object-position: center center;
        }
      }
      .product-options {
        width: 40%;
        margin-top: 0;
      }
    }
  }
}
