@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --grey: "#eeeeee";
  --dark: "#000000";
  --red: "#FF5A5A";
  --highlight: "#E0E0E0";

  font-size: 100%;
}

p {
  margin: 0;
}
body {
  position: relative;
}
body,
p,
h1,
h2,
h3,
h4,
button {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.button {
  font-size: 1.1rem;
  margin: 1.2rem 0;
  padding: 0.4rem 1rem;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.primary-button {
  background-color: #ff5a5a;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 4rem;
  border: none;
}
.primary-button:hover {
  background-color: #ff5a5ae7;
}
.special-button {
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.special-button:hover {
  background-color: #ececec;
}

.link-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.close-button {
  color: var(--red);
}
.close-button:hover {
  color: #ff0000b7;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.wrapper .option {
  height: 2.2rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 0rem;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}
#gildan:checked:checked ~ .gildan,
#white:checked:checked ~ .white,
#light-grey:checked:checked ~ .light-grey,
#dark-grey:checked:checked ~ .dark-grey,
#dark:checked:checked ~ .dark,
#M:checked:checked ~ .M,
#S:checked:checked ~ .S,
#M:checked:checked ~ .M,
#L:checked:checked ~ .L,
#XL:checked:checked ~ .XL {
  border: 1px solid #ff5a5a;
}
.wrapper .option span {
  font-size: 1rem;
  color: #000;
}
.wrapper .option {
  overflow: hidden;
}
.wrapper img {
  width: 4rem;
  object-fit: cover;
}
