@import "./../../assets/styles/colors";

.banner {
  height: 25rem;
  background: $grey;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .container {
    padding: 0 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .banner {
    text-align: left;
    padding: 0 4rem;

    .container {
      width: 100%;
      padding: 0 4rem;
      display: flex;
      margin: 0;
      justify-content: flex-start;
    }
    h1 {
      font-size: 4.5rem;
      line-height: 6rem;
    }
  }
}
